.idea/
.vscode/
.DS_Store
__pycache__/
.venv/
node_modules/

*.pyc
*.pyo
*.pyd
*.spec

dist/
build/
release/
dist_hotfix/
build_hotfix/

_log/
plugins/
output/

*.exe
A_kuwo.code-workspace
用户反馈/

# 保存加密变体的文件夹
safeChange/
